<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Overview</h1>
  Current value:
  <br />
  Future value (not including inflation):
  <br />
  Future value (including inflation):
  <br />
  <%= link_to 'Manage Bank Accounts', bank_accounts_path %>
</div>
